.aspects_header.container
  %span.header.left  
  %span.header.content.full_width_header ASPECTS
  %span.header.right  
.aspects.container
  .concept.aspect
    %span.sheet_title.aspect_name.dsf.dsf_concept_label
    .grey
      %span.dsf.dsf_concept
    .activator
      Disable:
      %span.activator.dsf.dsf_concept_activator.checkbox
  .trouble.aspect
    %span.sheet_title.aspect_name.dsf.dsf_trouble_label
    .grey
      %span.dsf.dsf_trouble
    .activator
      Disable:
      %span.activator.dsf.dsf_trouble_activator.checkbox
  .your_adventure.aspect
    %span.sheet_title.aspect_name.dsf.dsf_your_adventure_label
    .grey
      %span.dsf.dsf_your_adventure
    .activator
      Disable:
      %span.activator.dsf.dsf_your_adventure_activator.checkbox
  .crossing_paths.aspect
    %span.sheet_title.aspect_name.dsf.dsf_crossing_paths_label
    .grey
      %span.dsf.dsf_crossing_paths
    .activator
      Disable:
      %span.activator.dsf.dsf_crossing_paths_activator.checkbox
  .crossing_paths_again.aspect
    %span.sheet_title.aspect_name.dsf.dsf_crossing_paths_again_label
    .grey
      %span.dsf.dsf_crossing_paths_again
    .activator
      Disable:
      %span.activator.dsf.dsf_crossing_paths_again_activator.checkbox
  .aspect_06.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_06_title
    .grey
      %span.dsf.dsf_aspect_06
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_06_activator.checkbox
  .aspect_07.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_07_title
    .grey
      %span.dsf.dsf_aspect_07
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_07_activator.checkbox
  .aspect_08.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_08_title
    .grey
      %span.dsf.dsf_aspect_08
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_08_activator.checkbox
  .aspect_09.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_09_title
    .grey
      %span.dsf.dsf_aspect_09
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_09_activator.checkbox
  .aspect_10.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_10_title
    .grey
      %span.dsf.dsf_aspect_10
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_10_activator.checkbox
  .aspect_11.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_11_title
    .grey
      %span.dsf.dsf_aspect_11
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_11_activator.checkbox
  .aspect_12.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_12_title
    .grey
      %span.dsf.dsf_aspect_12
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_12_activator.checkbox
  .aspect_13.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_13_title
    .grey
      %span.dsf.dsf_aspect_13
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_13_activator.checkbox
  .aspect_14.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_14_title
    .grey
      %span.dsf.dsf_aspect_14
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_14_activator.checkbox
  .aspect_15.aspect.extra
    %span.sheet_title.dsf.dsf_aspect_15_title
    .grey
      %span.dsf.dsf_aspect_15
    .activator
      Enable:
      %span.activator.dsf.dsf_aspect_15_activator.checkbox

