.basic_info.container
  .header_container
    %span.header.left  
    %span.header.id_header.content ID
    %span.header.right  
  .main_boxes
    .left_box
      .name
        %span.sheet_title Name
        .grey
          %span.dsf.dsf_name
      .description
        .see-through
          %span.sheet_title Description
        .grey
          %span.dsf.dsf_description_field
    .right_box
      .refresh.points_box
        %span.sheet_title Refresh
        .grey
          %span.dsf.dsf_refresh
      .fate_points.points_box
        %span.sheet_title Fate Points
        .grey
          %span.dsf.dsf_fate_points
