.conditions.container
  %span.header.left  
  %span.header.content.conditions_header CONDITIONS
  %span.header.right  
  %table.conditions
    %tr
      %td.conditions
        .conditions.group.active
          .sheet_label 1
          %span.dsf.dsf_fleeting_condition_01.checkbox
          %span.dsf.dsf_fleeting_condition_01_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_fleeting_condition_01_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 2
          %span.dsf.dsf_sticky_condition_01.checkbox
          %span.dsf.dsf_sticky_condition_01_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_sticky_condition_01_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 4
          %span.dsf.dsf_lasting_condition_01.checkbox
          %span.dsf.dsf_lasting_condition_01_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_lasting_condition_01_active.checkbox
    %tr
      %td.conditions
        .conditions.group.active
          .sheet_label 1
          %span.dsf.dsf_fleeting_condition_02.checkbox
          %span.dsf.dsf_fleeting_condition_02_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_fleeting_condition_02_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 2
          %span.dsf.dsf_sticky_condition_02.checkbox
          %span.dsf.dsf_sticky_condition_02_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_sticky_condition_02_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 4
          %span.dsf.dsf_lasting_condition_02.checkbox
          %span.dsf.dsf_lasting_condition_02_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_lasting_condition_02_active.checkbox
    %tr
      %td.conditions
        .conditions.group.active
          .sheet_label 1
          %span.dsf.dsf_fleeting_condition_03.checkbox
          %span.dsf.dsf_fleeting_condition_03_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_fleeting_condition_03_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 2
          %span.dsf.dsf_sticky_condition_03.checkbox
          %span.dsf.dsf_sticky_condition_03_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_sticky_condition_03_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 4
          %span.dsf.dsf_lasting_condition_03.checkbox
          %span.dsf.dsf_lasting_condition_03_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_lasting_condition_03_active.checkbox
    %tr
      %td.conditions
        .conditions.group.active
          .sheet_label 1
          %span.dsf.dsf_fleeting_condition_04.checkbox
          %span.dsf.dsf_fleeting_condition_04_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_fleeting_condition_04_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 2
          %span.dsf.dsf_sticky_condition_04.checkbox
          %span.dsf.dsf_sticky_condition_04_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_sticky_condition_04_active.checkbox
      %td.conditions
        .conditions.group.inactive
          .sheet_label 4
          %span.dsf.dsf_lasting_condition_04.checkbox
          %span.dsf.dsf_lasting_condition_04_label
        .condition.activator
          On:
          %span.condition_active.dsf.dsf_lasting_condition_04_active.checkbox
