.conditions.container
  %span.header.left  
  %span.header.content.conditions_header CONDITIONS
  %span.header.right  
  .fleeting.condition
    %span.sheet_label.dsf.dsf_fleeting_condition_01_label
    .grey
      %span.value.dsf.dsf_fleeting_condition_01
    .activator
      Disable:
      %span.activator.dsf.dsf_fleeting_condition_01_activator.checkbox
