.consequences.container
  %span.header.left  
  %span.header.content.consequences_header CONSEQUENCES
  %span.header.right  
  .mild.consequence
    %span.sheet_label.dsf.dsf_mild_consequence_label
    %span.sheet_title.dsf.dsf_mild_consequence_title
    .grey
      %span.value.dsf.dsf_mild_consequence
    .activator
      Disable:
      %span.activator.dsf.dsf_mild_consequence_activator.checkbox
  .moderate.consequence
    %span.sheet_label.dsf.dsf_moderate_consequence_label
    %span.sheet_title.dsf.dsf_moderate_consequence_title
    .grey
      %span.value.dsf.dsf_moderate_consequence
    .activator
      Disable:
      %span.activator.dsf.dsf_moderate_consequence_activator.checkbox
  .severe.consequence
    %span.sheet_label.dsf.dsf_severe_consequence_label
    %span.sheet_title.dsf.dsf_severe_consequence_title
    .grey
      %span.value.dsf.dsf_severe_consequence
    .activator
      Disable:
      %span.activator.dsf.dsf_severe_consequence_activator.checkbox
  .extra.consequence
    %span.sheet_label.dsf.dsf_extra_01_consequence_label
    %span.sheet_title.dsf.dsf_extra_01_consequence_title
    .grey
      %span.value.dsf.dsf_extra_01_consequence
    .activator
      Enable:
      %span.activator.dsf.dsf_extra_01_consequence_activator.checkbox
  .extra.consequence
    %span.sheet_label.dsf.dsf_extra_02_consequence_label
    %span.sheet_title.dsf.dsf_extra_02_consequence_title
    .grey
      %span.value.dsf.dsf_extra_02_consequence
    .activator
      Enable:
      %span.activator.dsf.dsf_extra_02_consequence_activator.checkbox
  .extra.consequence
    %span.sheet_label.dsf.dsf_extra_03_consequence_label
    %span.sheet_title.dsf.dsf_extra_03_consequence_title
    .grey
      %span.value.dsf.dsf_extra_03_consequence
    .activator
      Enable:
      %span.activator.dsf.dsf_extra_03_consequence_activator.checkbox
