/
  You are reading the source of my DST, awesome.  I highly recommend looking at the github for it (https://github.com/crimsonknave/obsidian_portal_fate) instead of where ever you are reading it now.  I'm writing the javascript in coffeescript so that's probably going to be more readable and the css is in scss.  If you find any bugs or have any feature requests you can create an issue on the github page or send me a message on Obsidian Portal.  Anything in master should be for the latest accepted version, branches will be in progress or not yet accepted submissions.
%link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
.sheet_boundary
  .game_info
    .player
      %span Player
      %span.dsf.dsf_player
    .campaign
      %span Campaign
      %span.dsf.dsf_campaign
  .avatar.container
    %span.dsf.dsf_avatar_image.readonly
  .basic_info.container
    .header_container
      %span.header.left  
      %span.header.id_header.content ID
      %span.header.right  
    .main_boxes
      .left_box
        .name
          %span.sheet_title Name
          .grey
            %span.dsf.dsf_name
        .description
          .see-through
            %span.sheet_title Description
          .grey
            %span.dsf.dsf_description_field
      .right_box
        .refresh.points_box
          %span.sheet_title Refresh
          .grey
            %span.dsf.dsf_refresh
        .fate_points.points_box
          %span.sheet_title Fate Points
          .grey
            %span.dsf.dsf_fate_points
  .aspects_header.container
    %span.header.left  
    %span.header.content.full_width_header ASPECTS
    %span.header.right  
  .aspects.container
    .concept.aspect
      %span.sheet_title.aspect_name.dsf.dsf_concept_label
      .grey
        %span.dsf.dsf_concept
      .activator
        Disable:
        %span.activator.dsf.dsf_concept_activator.checkbox
    .trouble.aspect
      %span.sheet_title.aspect_name.dsf.dsf_trouble_label
      .grey
        %span.dsf.dsf_trouble
      .activator
        Disable:
        %span.activator.dsf.dsf_trouble_activator.checkbox
    .your_adventure.aspect
      %span.sheet_title.aspect_name.dsf.dsf_your_adventure_label
      .grey
        %span.dsf.dsf_your_adventure
      .activator
        Disable:
        %span.activator.dsf.dsf_your_adventure_activator.checkbox
    .crossing_paths.aspect
      %span.sheet_title.aspect_name.dsf.dsf_crossing_paths_label
      .grey
        %span.dsf.dsf_crossing_paths
      .activator
        Disable:
        %span.activator.dsf.dsf_crossing_paths_activator.checkbox
    .crossing_paths_again.aspect
      %span.sheet_title.aspect_name.dsf.dsf_crossing_paths_again_label
      .grey
        %span.dsf.dsf_crossing_paths_again
      .activator
        Disable:
        %span.activator.dsf.dsf_crossing_paths_again_activator.checkbox
    .aspect_06.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_06_title
      .grey
        %span.dsf.dsf_aspect_06
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_06_activator.checkbox
    .aspect_07.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_07_title
      .grey
        %span.dsf.dsf_aspect_07
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_07_activator.checkbox
    .aspect_08.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_08_title
      .grey
        %span.dsf.dsf_aspect_08
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_08_activator.checkbox
    .aspect_09.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_09_title
      .grey
        %span.dsf.dsf_aspect_09
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_09_activator.checkbox
    .aspect_10.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_10_title
      .grey
        %span.dsf.dsf_aspect_10
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_10_activator.checkbox
    .aspect_11.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_11_title
      .grey
        %span.dsf.dsf_aspect_11
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_11_activator.checkbox
    .aspect_12.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_12_title
      .grey
        %span.dsf.dsf_aspect_12
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_12_activator.checkbox
    .aspect_13.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_13_title
      .grey
        %span.dsf.dsf_aspect_13
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_13_activator.checkbox
    .aspect_14.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_14_title
      .grey
        %span.dsf.dsf_aspect_14
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_14_activator.checkbox
    .aspect_15.aspect.extra
      %span.sheet_title.dsf.dsf_aspect_15_title
      .grey
        %span.dsf.dsf_aspect_15
      .activator
        Enable:
        %span.activator.dsf.dsf_aspect_15_activator.checkbox
  .skill_header.container
    %span.header.left  
    %span.header.content.full_width_header SKILLS
    %span.header.right  
  %table.skills.container
    %tr.skill.fantastic
      %td.sheet_title
        %span.skill_name.dsf.dsf_skill_6_label
      %td.skill_holder
        %ul
          %li.skill.inactive
            %span.skill_fantastic.dsf.dsf_skill_fantastic_00
          %li.skill.inactive
            %span.skill_fantastic.dsf.dsf_skill_fantastic_01
          %li.skill.inactive
            %span.skill_fantastic.dsf.dsf_skill_fantastic_02
          %li.skill.inactive
            %span.skill_fantastic.dsf.dsf_skill_fantastic_03
          %li.skill.inactive
            %span.skill_fantastic.dsf.dsf_skill_fantastic_04
          %li.skill.inactive
            %span.skill_fantastic.dsf.dsf_skill_fantastic_05
    %tr.skill.superb
      %td.sheet_title
        %span.skill_name.dsf.dsf_skill_5_label
      %td.skill_holder
        %ul
          %li.skill.inactive
            %span.skill_superb.dsf.dsf_skill_superb_00
          %li.skill.inactive
            %span.skill_superb.dsf.dsf_skill_superb_01
          %li.skill.inactive
            %span.skill_superb.dsf.dsf_skill_superb_02
          %li.skill.inactive
            %span.skill_superb.dsf.dsf_skill_superb_03
          %li.skill.inactive
            %span.skill_superb.dsf.dsf_skill_superb_04
          %li.skill.inactive
            %span.skill_superb.dsf.dsf_skill_superb_05
    %tr.skill.great
      %td.sheet_title
        %span.skill_name.dsf.dsf_skill_4_label
      %td.skill_holder
        %ul
          %li.skill.inactive
            %span.skill_great.dsf.dsf_skill_great_00
          %li.skill.inactive
            %span.skill_great.dsf.dsf_skill_great_01
          %li.skill.inactive
            %span.skill_great.dsf.dsf_skill_great_02
          %li.skill.inactive
            %span.skill_great.dsf.dsf_skill_great_03
          %li.skill.inactive
            %span.skill_great.dsf.dsf_skill_great_04
          %li.skill.inactive
            %span.skill_great.dsf.dsf_skill_great_05
    %tr.skill.good
      %td.sheet_title
        %span.skill_name.dsf.dsf_skill_3_label
      %td.skill_holder
        %ul
          %li.skill.inactive
            %span.skill_good.dsf.dsf_skill_good_00
          %li.skill.inactive
            %span.skill_good.dsf.dsf_skill_good_01
          %li.skill.inactive
            %span.skill_good.dsf.dsf_skill_good_02
          %li.skill.inactive
            %span.skill_good.dsf.dsf_skill_good_03
          %li.skill.inactive
            %span.skill_good.dsf.dsf_skill_good_04
          %li.skill.inactive
            %span.skill_good.dsf.dsf_skill_good_05
    %tr.skill.fair
      %td.sheet_title
        %span.skill_name.dsf.dsf_skill_2_label
      %td.skill_holder
        %ul
          %li.skill.inactive
            %span.skill_fair.dsf.dsf_skill_fair_00
          %li.skill.inactive
            %span.skill_fair.dsf.dsf_skill_fair_01
          %li.skill.inactive
            %span.skill_fair.dsf.dsf_skill_fair_02
          %li.skill.inactive
            %span.skill_fair.dsf.dsf_skill_fair_03
          %li.skill.inactive
            %span.skill_fair.dsf.dsf_skill_fair_04
          %li.skill.inactive
            %span.skill_fair.dsf.dsf_skill_fair_05
    %tr.skill.average
      %td.sheet_title
        %span.skill_name.dsf.dsf_skill_1_label
      %td.skill_holder
        %ul
          %li.skill.inactive
            %span.skill_average.dsf.dsf_skill_average_00
          %li.skill.inactive
            %span.skill_average.dsf.dsf_skill_average_01
          %li.skill.inactive
            %span.skill_average.dsf.dsf_skill_average_02
          %li.skill.inactive
            %span.skill_average.dsf.dsf_skill_average_03
          %li.skill.inactive
            %span.skill_average.dsf.dsf_skill_average_04
          %li.skill.inactive
            %span.skill_average.dsf.dsf_skill_average_05
  .stunts.container
    %span.header.left  
    %span.header.content.full_width_header STUNTS
    %span.header.right  
    %table.stunts
      %tr
        %td
          %span.name.dsf.dsf_stunt_01_name
        %td
          %span.value.dsf.dsf_stunt_01_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_01_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_02_name
        %td
          %span.value.dsf.dsf_stunt_02_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_02_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_03_name
        %td
          %span.value.dsf.dsf_stunt_03_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_03_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_04_name
        %td
          %span.value.dsf.dsf_stunt_04_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_04_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_05_name
        %td
          %span.value.dsf.dsf_stunt_05_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_05_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_06_name
        %td
          %span.value.dsf.dsf_stunt_06_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_06_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_07_name
        %td
          %span.value.dsf.dsf_stunt_07_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_07_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_08_name
        %td
          %span.value.dsf.dsf_stunt_08_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_08_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_09_name
        %td
          %span.value.dsf.dsf_stunt_09_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_09_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_10_name
        %td
          %span.value.dsf.dsf_stunt_10_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_10_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_11_name
        %td
          %span.value.dsf.dsf_stunt_11_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_11_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_12_name
        %td
          %span.value.dsf.dsf_stunt_12_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_12_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_13_name
        %td
          %span.value.dsf.dsf_stunt_13_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_13_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_14_name
        %td
          %span.value.dsf.dsf_stunt_14_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_14_active.checkbox
      %tr
        %td
          %span.name.dsf.dsf_stunt_15_name
        %td
          %span.value.dsf.dsf_stunt_15_description
        %td
          .activator
            Show:
            %span.activator.dsf.dsf_stunt_15_active.checkbox
    %span.dsf.dsf_stunts.large_text
  .extras.container.large_text
    %span.header.left  
    %span.header.content.full_width_header EXTRAS
    %span.header.right  
    %span.dsf.dsf_extras
  .hurtings
    .conditions.container
      %span.header.left  
      %span.header.content.conditons_header CONDITIONS
      %span.header.right  
      .fleeting.condition
        %span.sheet_label.dsf.dsf_fleeting_condition
      .consequences.container
        %span.header.left  
        %span.header.content.consequences_header CONSEQUENCES
        %span.header.right  
        .mild.consequence
          %span.sheet_label.dsf.dsf_mild_consequence_label
          %span.sheet_title.dsf.dsf_mild_consequence_title
          .grey
            %span.value.dsf.dsf_mild_consequence
          .activator
            Disable:
            %span.activator.dsf.dsf_mild_consequence_activator.checkbox
        .moderate.consequence
          %span.sheet_label.dsf.dsf_moderate_consequence_label
          %span.sheet_title.dsf.dsf_moderate_consequence_title
          .grey
            %span.value.dsf.dsf_moderate_consequence
          .activator
            Disable:
            %span.activator.dsf.dsf_moderate_consequence_activator.checkbox
        .severe.consequence
          %span.sheet_label.dsf.dsf_severe_consequence_label
          %span.sheet_title.dsf.dsf_severe_consequence_title
          .grey
            %span.value.dsf.dsf_severe_consequence
          .activator
            Disable:
            %span.activator.dsf.dsf_severe_consequence_activator.checkbox
        .extra.consequence
          %span.sheet_label.dsf.dsf_extra_01_consequence_label
          %span.sheet_title.dsf.dsf_extra_01_consequence_title
          .grey
            %span.value.dsf.dsf_extra_01_consequence
          .activator
            Enable:
            %span.activator.dsf.dsf_extra_01_consequence_activator.checkbox
        .extra.consequence
          %span.sheet_label.dsf.dsf_extra_02_consequence_label
          %span.sheet_title.dsf.dsf_extra_02_consequence_title
          .grey
            %span.value.dsf.dsf_extra_02_consequence
          .activator
            Enable:
            %span.activator.dsf.dsf_extra_02_consequence_activator.checkbox
        .extra.consequence
          %span.sheet_label.dsf.dsf_extra_03_consequence_label
          %span.sheet_title.dsf.dsf_extra_03_consequence_title
          .grey
            %span.value.dsf.dsf_extra_03_consequence
          .activator
            Enable:
            %span.activator.dsf.dsf_extra_03_consequence_activator.checkbox
      .stress_container
        .physical.stress.container
          %span.header.left  
          %span.header.content.stress_header PHYSICAL STRESS (Physique)
          %span.header.right  
        %table.physical.stress
          %tr
            %td.stress
              .stress.group
                .sheet_label 1
                %span.dsf.dsf_physical_stress_01.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_physical_stress_01_active.checkbox
            %td.stress
              .stress.group
                .sheet_label 2
                %span.dsf.dsf_physical_stress_02.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_physical_stress_02_active.checkbox
            %td.stress
              .stress.group
                .sheet_label 3
                %span.dsf.dsf_physical_stress_03.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_physical_stress_03_active.checkbox
            %td.stress
              .stress.group
                .sheet_label 4
                %span.dsf.dsf_physical_stress_04.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_physical_stress_04_active.checkbox
            %td
        .mental.stress.container
          %span.header.left  
          %span.header.content.stress_header MENTAL STRESS (Will)
          %span.header.right  
        %table.mental.stress
          %tr
            %td.stress
              .stress.group
                .sheet_label 1
                %span.dsf.dsf_mental_stress_01.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_mental_stress_01_active.checkbox
            %td.stress
              .stress.group
                .sheet_label 2
                %span.dsf.dsf_mental_stress_02.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_mental_stress_02_active.checkbox
            %td.stress
              .stress.group
                .sheet_label 3
                %span.dsf.dsf_mental_stress_03.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_mental_stress_03_active.checkbox
            %td.stress
              .stress.group
                .sheet_label 4
                %span.dsf.dsf_mental_stress_04.checkbox
              .stress.activator
                On:
                %span.stress_active.dsf.dsf_mental_stress_04_active.checkbox
            %td
        .stress_track.inactive
          .inactive.stress.container
            %span.header.left  
            %span.header.content.stress_header.dsf.dsf_extra_01_stress_header
            %span.header.right  
          .activator
            Display?
            %span.dsf.dsf_extra_01_stress_active.checkbox
          %table.inactive.stress
            %tr
              %td.stress
                .stress.group
                  .sheet_label 1
                  %span.dsf.dsf_extra_01_stress_01.checkbox
                .stress.activator
                  On:
                  %span.stress_active.dsf.dsf_extra_01_stress_01_active.checkbox
              %td.stress
                .stress.group
                  .sheet_label 2
                  %span.dsf.dsf_extra_01_stress_02.checkbox
                .stress.activator
                  On:
                  %span.stress_active.dsf.dsf_extra_01_stress_02_active.checkbox
              %td.stress
                .stress.group
                  .sheet_label 3
                  %span.dsf.dsf_extra_01_stress_03.checkbox
                .stress.activator
                  On:
                  %span.stress_active.dsf.dsf_extra_01_stress_03_active.checkbox
              %td.stress
                .stress.group
                  .sheet_label 4
                  %span.dsf.dsf_extra_01_stress_04.checkbox
                .stress.activator
                  On:
                  %span.stress_active.dsf.dsf_extra_01_stress_04_active.checkbox
              %td
    .bio
      .backstory.container
        %span.header.left  
        %span.header.full_width_header.content BACKSTORY
        %span.header.right  
      %span.dsf.dsf_bio
    .credits
      Character by
      = succeed "," do
        %span.dsf.dsf_player
      %span.dsf.dsf_dst_author
  / End HTML Template - Don't copy anything below here into the template!
