.skill_header.container
  %span.header.left  
  %span.header.content.full_width_header SKILLS
  %span.header.right  
%table.skills.container
  %tr.skill.fantastic
    %td.sheet_title
      %span.skill_name.dsf.dsf_skill_6_label
    %td.skill_holder
      %ul
        %li.skill.inactive
          %span.skill_fantastic.dsf.dsf_skill_fantastic_00
        %li.skill.inactive
          %span.skill_fantastic.dsf.dsf_skill_fantastic_01
        %li.skill.inactive
          %span.skill_fantastic.dsf.dsf_skill_fantastic_02
        %li.skill.inactive
          %span.skill_fantastic.dsf.dsf_skill_fantastic_03
        %li.skill.inactive
          %span.skill_fantastic.dsf.dsf_skill_fantastic_04
        %li.skill.inactive
          %span.skill_fantastic.dsf.dsf_skill_fantastic_05
  %tr.skill.superb
    %td.sheet_title
      %span.skill_name.dsf.dsf_skill_5_label
    %td.skill_holder
      %ul
        %li.skill.inactive
          %span.skill_superb.dsf.dsf_skill_superb_00
        %li.skill.inactive
          %span.skill_superb.dsf.dsf_skill_superb_01
        %li.skill.inactive
          %span.skill_superb.dsf.dsf_skill_superb_02
        %li.skill.inactive
          %span.skill_superb.dsf.dsf_skill_superb_03
        %li.skill.inactive
          %span.skill_superb.dsf.dsf_skill_superb_04
        %li.skill.inactive
          %span.skill_superb.dsf.dsf_skill_superb_05
  %tr.skill.great
    %td.sheet_title
      %span.skill_name.dsf.dsf_skill_4_label
    %td.skill_holder
      %ul
        %li.skill.inactive
          %span.skill_great.dsf.dsf_skill_great_00
        %li.skill.inactive
          %span.skill_great.dsf.dsf_skill_great_01
        %li.skill.inactive
          %span.skill_great.dsf.dsf_skill_great_02
        %li.skill.inactive
          %span.skill_great.dsf.dsf_skill_great_03
        %li.skill.inactive
          %span.skill_great.dsf.dsf_skill_great_04
        %li.skill.inactive
          %span.skill_great.dsf.dsf_skill_great_05
  %tr.skill.good
    %td.sheet_title
      %span.skill_name.dsf.dsf_skill_3_label
    %td.skill_holder
      %ul
        %li.skill.inactive
          %span.skill_good.dsf.dsf_skill_good_00
        %li.skill.inactive
          %span.skill_good.dsf.dsf_skill_good_01
        %li.skill.inactive
          %span.skill_good.dsf.dsf_skill_good_02
        %li.skill.inactive
          %span.skill_good.dsf.dsf_skill_good_03
        %li.skill.inactive
          %span.skill_good.dsf.dsf_skill_good_04
        %li.skill.inactive
          %span.skill_good.dsf.dsf_skill_good_05
  %tr.skill.fair
    %td.sheet_title
      %span.skill_name.dsf.dsf_skill_2_label
    %td.skill_holder
      %ul
        %li.skill.inactive
          %span.skill_fair.dsf.dsf_skill_fair_00
        %li.skill.inactive
          %span.skill_fair.dsf.dsf_skill_fair_01
        %li.skill.inactive
          %span.skill_fair.dsf.dsf_skill_fair_02
        %li.skill.inactive
          %span.skill_fair.dsf.dsf_skill_fair_03
        %li.skill.inactive
          %span.skill_fair.dsf.dsf_skill_fair_04
        %li.skill.inactive
          %span.skill_fair.dsf.dsf_skill_fair_05
  %tr.skill.average
    %td.sheet_title
      %span.skill_name.dsf.dsf_skill_1_label
    %td.skill_holder
      %ul
        %li.skill.inactive
          %span.skill_average.dsf.dsf_skill_average_00
        %li.skill.inactive
          %span.skill_average.dsf.dsf_skill_average_01
        %li.skill.inactive
          %span.skill_average.dsf.dsf_skill_average_02
        %li.skill.inactive
          %span.skill_average.dsf.dsf_skill_average_03
        %li.skill.inactive
          %span.skill_average.dsf.dsf_skill_average_04
        %li.skill.inactive
          %span.skill_average.dsf.dsf_skill_average_05
