.stress_container
  .physical.stress.container
    %span.header.left  
    %span.header.content.stress_header PHYSICAL STRESS (Physique)
    %span.header.right  
  %table.physical.stress
    %tr
      %td.stress
        .stress.group
          .sheet_label 1
          %span.dsf.dsf_physical_stress_01.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_physical_stress_01_active.checkbox
      %td.stress
        .stress.group
          .sheet_label 2
          %span.dsf.dsf_physical_stress_02.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_physical_stress_02_active.checkbox
      %td.stress
        .stress.group
          .sheet_label 3
          %span.dsf.dsf_physical_stress_03.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_physical_stress_03_active.checkbox
      %td.stress
        .stress.group
          .sheet_label 4
          %span.dsf.dsf_physical_stress_04.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_physical_stress_04_active.checkbox
      %td
  .mental.stress.container
    %span.header.left  
    %span.header.content.stress_header MENTAL STRESS (Will)
    %span.header.right  
  %table.mental.stress
    %tr
      %td.stress
        .stress.group
          .sheet_label 1
          %span.dsf.dsf_mental_stress_01.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_mental_stress_01_active.checkbox
      %td.stress
        .stress.group
          .sheet_label 2
          %span.dsf.dsf_mental_stress_02.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_mental_stress_02_active.checkbox
      %td.stress
        .stress.group
          .sheet_label 3
          %span.dsf.dsf_mental_stress_03.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_mental_stress_03_active.checkbox
      %td.stress
        .stress.group
          .sheet_label 4
          %span.dsf.dsf_mental_stress_04.checkbox
        .stress.activator
          On:
          %span.stress_active.dsf.dsf_mental_stress_04_active.checkbox
      %td
  .stress_track.inactive
    .inactive.stress.container
      %span.header.left  
      %span.header.content.stress_header.dsf.dsf_extra_01_stress_header
      %span.header.right  
    .activator
      Display?
      %span.dsf.dsf_extra_01_stress_active.checkbox
    %table.inactive.stress
      %tr
        %td.stress
          .stress.group
            .sheet_label 1
            %span.dsf.dsf_extra_01_stress_01.checkbox
          .stress.activator
            On:
            %span.stress_active.dsf.dsf_extra_01_stress_01_active.checkbox
        %td.stress
          .stress.group
            .sheet_label 2
            %span.dsf.dsf_extra_01_stress_02.checkbox
          .stress.activator
            On:
            %span.stress_active.dsf.dsf_extra_01_stress_02_active.checkbox
        %td.stress
          .stress.group
            .sheet_label 3
            %span.dsf.dsf_extra_01_stress_03.checkbox
          .stress.activator
            On:
            %span.stress_active.dsf.dsf_extra_01_stress_03_active.checkbox
        %td.stress
          .stress.group
            .sheet_label 4
            %span.dsf.dsf_extra_01_stress_04.checkbox
          .stress.activator
            On:
            %span.stress_active.dsf.dsf_extra_01_stress_04_active.checkbox
        %td
