.stunts.container
  %span.header.left  
  %span.header.content.full_width_header STUNTS
  %span.header.right  
  %table.stunts
    %tr
      %td
        %span.name.dsf.dsf_stunt_01_name
      %td
        %span.value.dsf.dsf_stunt_01_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_01_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_02_name
      %td
        %span.value.dsf.dsf_stunt_02_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_02_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_03_name
      %td
        %span.value.dsf.dsf_stunt_03_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_03_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_04_name
      %td
        %span.value.dsf.dsf_stunt_04_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_04_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_05_name
      %td
        %span.value.dsf.dsf_stunt_05_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_05_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_06_name
      %td
        %span.value.dsf.dsf_stunt_06_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_06_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_07_name
      %td
        %span.value.dsf.dsf_stunt_07_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_07_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_08_name
      %td
        %span.value.dsf.dsf_stunt_08_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_08_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_09_name
      %td
        %span.value.dsf.dsf_stunt_09_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_09_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_10_name
      %td
        %span.value.dsf.dsf_stunt_10_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_10_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_11_name
      %td
        %span.value.dsf.dsf_stunt_11_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_11_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_12_name
      %td
        %span.value.dsf.dsf_stunt_12_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_12_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_13_name
      %td
        %span.value.dsf.dsf_stunt_13_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_13_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_14_name
      %td
        %span.value.dsf.dsf_stunt_14_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_14_active.checkbox
    %tr
      %td
        %span.name.dsf.dsf_stunt_15_name
      %td
        %span.value.dsf.dsf_stunt_15_description
      %td
        .activator
          Show:
          %span.activator.dsf.dsf_stunt_15_active.checkbox
  %span.dsf.dsf_stunts.large_text
