/****************************
 * This is the CSS for the DST.
 * Copy and paste this directly into the CSS textarea on obsidianportal.com
 *****************************/
.ds_fate_core .sheet_boundary {
  border: 1px solid blue;
  width: 728px; }
.ds_fate_core .container {
  margin: 5px; }
.ds_fate_core .header {
  background: black;
  margin-bottom: 5px; }
.ds_fate_core tr.header {
  background: none; }
.ds_fate_core td.header {
  width: 100%; }
.ds_fate_core td.header.left {
  float: none;
  color: white;
  background: -webkit-linear-gradient(315deg, transparent 7px, black 5px, black 100%);
  padding-left: 10px;
  font-weight: bold;
  width: 90%; }
.ds_fate_core td.header.right {
  background: -webkit-linear-gradient(135deg, transparent 7px, black 5px, black 100%);
  float: none;
  width: 10%; }
.ds_fate_core .header.left {
  float: none;
  color: white;
  background: -webkit-linear-gradient(315deg, transparent 7px, black 5px, black 100%);
  padding-left: 10px;
  font-weight: bold;
  width: 90%; }
.ds_fate_core .header.right {
  background: -webkit-linear-gradient(135deg, transparent 7px, black 5px, black 100%);
  float: right;
  width: 10%; }
.ds_fate_core .logo {
  border: 1px solid red;
  float: right;
  width: 215px;
  height: 75px; }
.ds_fate_core .basic_info {
  border: 1px solid red;
  width: 492px;
  height: auto; }
  .ds_fate_core .basic_info .header.left {
    width: 394px; }
  .ds_fate_core .basic_info .header.right {
    width: 100px; }
  .ds_fate_core .basic_info .left_box {
    width: 423px;
    height: 75px; }
  .ds_fate_core .basic_info .right_box {
    width: 67px;
    height: 75px;
    float: right; }
  .ds_fate_core .basic_info .name {
    border: 3px solid black;
    height: 21px; }
  .ds_fate_core .basic_info .description {
    border: 3px solid black;
    height: 42px; }
  .ds_fate_core .basic_info .refresh {
    border: 3px solid black;
    height: 69px; }
.ds_fate_core .aspects {
  width: 700px;
  border: 1px solid green; }
  .ds_fate_core .aspects .aspect {
    border: 3px solid black; }
.ds_fate_core table.skills {
  width: 720px;
  border: 1px solid green; }
  .ds_fate_core table.skills tr.skill {
    height: 30px; }
    .ds_fate_core table.skills tr.skill span {
      display: inline-block; }
    .ds_fate_core table.skills tr.skill .skill_holder {
      display: inline-block; }
    .ds_fate_core table.skills tr.skill td.title {
      width: 120px;
      text-align: right; }
  .ds_fate_core table.skills ul {
    display: inline;
    list-style: none;
    margin-left: -40px; }
    .ds_fate_core table.skills ul li.inactive {
      border: 3px solid grey; }
    .ds_fate_core table.skills ul li {
      display: inline;
      border: 3px solid black;
      margin: 0px 3px; }
      .ds_fate_core table.skills ul li span {
        display: inline-block;
        width: 81px; }
