/****************************
 * This is the CSS for the DST.
 * Copy and paste this directly into the CSS textarea on obsidianportal.com
 *****************************/

.ds_fate_core {
  .sheet_boundary {
    border: 1px solid blue;
    width: 730px;
  }
  .container {
    margin: 5px;
  }
  .header{
    background: black;
    margin-bottom: 5px;
  }
  tr.header {
    background:none;
  }
  td.header {
    width: 100%;
  }
  td.header.left {
    float:none;
    color: white;
    background: -webkit-linear-gradient(315deg, transparent 7px, #000000 5px, #000000 100%);
    padding-left: 10px;
    font-style: bold;
    width: 90%;
  }
  td.header.right {
    background: -webkit-linear-gradient(135deg, transparent 7px, #000000 5px, #000000 100%);
    float:none;
    width: 10%;
  }
  .header.left {
    float:none;
    color: white;
    background: -webkit-linear-gradient(315deg, transparent 7px, #000000 5px, #000000 100%);
    padding-left: 10px;
    font-style: bold;
    width: 90%;
  }
  .header.right {
    background: -webkit-linear-gradient(135deg, transparent 7px, #000000 5px, #000000 100%);
    float:right;
    width: 10%;
  }
  .logo {
    border: 1px solid red;
    float: right;
    width: 215px;
    height: 75px;
  }
  .basic_info {
    border: 1px solid red;
    width: 492px;
    height: 90px;
    .header.left {
      width: 394px;
    }
    .header.right {
      width: 100px;
    }
    .left_box {
      width: 423px;
      height: 75px;
    }
    .right_box {
      width: 67px;
      height: 75px;
      float: right;
    }
    .name {
      border: 3px solid black;
      height: 21px;
    }
    .description {
      border: 3px solid black;
      height: 42px;
    }
    .refresh {
      border: 3px solid black;
      height: 69px;
    }
  }

  .core_stats {
    border: 1px solid red;
    height: auto;
    .aspects {
      width: 280px;
      border: 1px solid green;
      .aspect {
        border: 3px solid black;
      }
    }
    table.skills {
      width: 400px;
      margin-left: 10px;
      border: 1px solid green;
      tr.skill {
        margin-left: 0px;
        span {
          display: inline-block;
        }
        .skill_holder {
          display: inline-block;
        }
      }
      padding: 3px 20px;
      ul {
        display:inline;
        list-style: none;
        li {
          display:inline;
          border: 3px solid black;
          margin:0px 3px;
          span {
            display: inline-block;
            width: 70px;
          }
        }
      }
    }
  }

  .things {
    clear:both;
    border: 1px solid red;
    height: auto;
    .extras {
      width: 50%;
    }
    .stunts {
      width: 50%;
      float: right;
    }
  }
}

