/****************************
 * This is the CSS for the DST.
 * Copy and paste this directly into the CSS textarea on obsidianportal.com
 *****************************/
.basic_info {
  border: 1px solid red; }
  .basic_info .left_box {
    width: 90%;
    height: 75px; }
  .basic_info .right_box {
    width: 10%;
    height: 75px;
    float: right; }
  .basic_info .name {
    border: 3px solid black;
    height: 21px; }
  .basic_info .description {
    border: 3px solid black;
    height: 42px; }
  .basic_info .refresh {
    border: 3px solid black;
    height: 69px; }

.core_stats {
  clear: both;
  border: 1px solid red;
  height: auto; }
  .core_stats .aspects {
    width: 40%; }
    .core_stats .aspects .aspect {
      border: 3px solid black; }
  .core_stats .skills {
    width: 60%;
    float: right; }
    .core_stats .skills .skill {
      padding: 3px 20px; }
      .core_stats .skills .skill ul {
        display: inline;
        list-style: none; }
        .core_stats .skills .skill ul li {
          display: inline;
          border: 3px solid black;
          margin: 0px 3px; }
          .core_stats .skills .skill ul li span {
            display: inline-block;
            width: 100px; }

.things {
  clear: both;
  border: 1px solid red;
  height: auto; }
  .things .extras {
    width: 50%; }
  .things .stunts {
    width: 50%;
    float: right; }
