.ds_fate_core {
  .avatar {
    float: right;
    width: 257px;
    height: 257px;
    img {
      float: right;
    }
    img.tall {
      height: 256px;
      width: auto;
    }
    img.wide {
      height: auto;
      width: 256px;
    }
  }
}
