.ds_fate_core {
  table.stunts {
    tr.inactive {
      display: none;
    }
    td {
      border-bottom: 1px solid black;
    }
    .last_row {
      td {
        border: none;
      }
    }
  }
}
.ds_fate_core.editable {
  table.stunts {
    tr.inactive {
      color: darkgrey !important;
      display: table-row;
      td {
        color: darkgrey !important;
      }
    }
  }
}
