/****************************
 * This is the CSS for the DST.
 * Copy and paste this directly into the CSS textarea on obsidianportal.com
 *****************************/
@mixin width_calc($expression) {
  width: -moz-calc(#{$expression});
  width: -webkit-calc(#{$expression});
  width: calc(#{$expression});
}
.ds_fate_core.editable {
  table.stunts {
    tr.inactive {
      color: darkgrey !important;
      display: table-row;
      td {
        color: darkgrey !important;
      }
    }
  }
  .activator {
    display: block;
  }
  .aspect.inactive {
    display: block;
    border: 2px solid darkgrey;
    .sheet_title {
      color: darkgrey;
    }
  }
  .consequence.inactive {
    display: block;
    border: 2px solid darkgrey;
    .sheet_label {
      color: darkgrey;
    }
  }
  .stress_track.inactive {
    display: block;
    background: lightgrey;
    table {
    }
    .activator {
      padding-left: 10px;
    }
    .sheet_label {
      color: white;
    }
    .stress.group {
      border: 2px solid white;
    }
  }

}
.ds_fate_core {
  table {
    background: none;
    tr:nth-of-type(even) {
      background: none;
    }
  }
  .grey {
    background: rgba(50,50,50,0.25);
  }
  .game_info {
    padding-left: 5px;
    padding-top: 5px;
  }
  font-family: 'Montserrat', sans-serif !important;
  table {
    tr {
      td {
        font-family: 'Montserrat', sans-serif !important;
      }
    }
  }

  font-size: 14px;
  .description {
    form.jeditable_input {
      input {
        min-width: 200px !important;
        padding: 0px;
      }
    }
  }
  .aspects {
    .sheet_title {
      form.jeditable_input {
        input {
          min-width: 170px !important;
          max-width: 170px !important;
          padding: 0px;
        }
      }
    }
    .grey {
      form.jeditable_input {
        height: 14px;
        input {
          min-width: 485px !important;
          max-width: 485px !important;
          padding: 0px;
        }
      }
    }
  }
  form.jeditable_input {
    z-index: 1;
    input {
      z-index: 1;
      min-width: 80px !important;
      padding: 0px;
      height: 20px !important;
    }
    button {
      z-index: 1;
      position: absolute;
      background: grey;
      margin: 3px;
      padding: 0px 5px;
      height: 18px;
    }
  }
  .large_text {
    form.jeditable_input {
      input {
        min-width: 600px !important;
        padding: 0px;
      }
    }
  }

  .activator {
    display: none;
  }
  .sheet_boundary {
    background: white;
  }
  .container {
    margin: 5px;
  }
  span.header.content {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 4px;
    height: 17px;
    @include width_calc('100% - 42px');
  }
  span.header.left {
    background: url(https://db4sgowjqfwig.cloudfront.net/assets/313072/ibq961ZORqAdvB.png);
    display: inline-block;
    width: 21px;
    height: 21px;
  }
  span.header.right {
    background: url(https://db4sgowjqfwig.cloudfront.net/assets/313070/ibs4Wqi27GD4q3.png);
    float: none;
    display: inline-block;
    width: 21px;
    height: 21px;
  }

  .header{
    background: black;
    margin-bottom: 5px;
  }
  .id_header.content {
    width: 414px;
  }
  .full_width_header.content {
    width: 676px;
  }
  .stress_header {
    width: 238px;
  }
  .consequences_header {
    width: 378px;
  }
  .avatar {
    float: right;
    width: 257px;
    height: 257px;
    img {
      float: right;
    }
    img.tall {
      height: 256px;
      width: auto;
    }
    img.wide {
      height: auto;
      width: 256px;
    }
  }
  .basic_info {
    @include width_calc('100% - 272px');
    height: auto;
    .main_boxes {
      margin: 1px;
      height: 231px;
      width: 455px;
      margin-bottom: 5px;
    }
    .left_box {
      @include width_calc('100% - 107px');
      height: 231px;
      float: left;
    }
    .right_box {
      width: 105px;
      height: 231px;
      float: left;
      margin-left: 2px;
    }
    .name {
      .grey {
        margin-left: 101px;
        height: 100%;
      }
      border: 2px solid black;
      height: 30px;
      margin-bottom: 3px;
      white-space: nowrap;
      span.sheet_title {
        text-align: right;
        width: 98px;
        height: 30px;
        font-weight: bold;
        float:left;
        padding-right: 5px;
      }
      span.dsf {
        padding-left: 5px;
        height: 30px;
      }
    }
    .description {
      border: 2px solid black;
      height: 190px;
      overflow: hidden;
      .see-through {
        text-align: right;
        width: 97px;
        height: 190px;
        font-weight: bold;
        float:left;
        padding-right: 4px;
        margin-right: 0px;
      }
      .grey {
        height: 100%;
        @include width_calc('100% - 105px');
        float: left;
        padding-left: 4px;
      }
    }
    .points_box {
      .grey {
        height: 91px;
        position: relative;
        top: 20px;
      }
      form.jeditable_input {
        position: relative;
        top: 40px;
        input {
          width: 10px !important;
          padding: 0px;
        }
      }
      border: 2px solid black;
      height: 109px;
      margin-bottom: 5px;
      span.sheet_title {
        text-align: right;
        width: 98px;
        height: 21px;
        font-weight: bold;
        float:left;
        padding-right: 3px;
      }
      span.dsf {
        font-size: 6em;
        width: 76px;
        position: relative;
        left: 20px;
        bottom: 40px;
        font-weight: bold;
      }
      span.dsf.placeholder {
        left: 5px;
        font-size: 1em;
        top: 20px;
        font-weight: normal;
        form.jeditable_input {
          top: 10px;
          position: relative;
        }
      }
    }
  }

  .aspects {
    .inactive {
      display: none
    }
    .grey {
      margin-left: 185px;
      height: 21px;
      overflow: hidden;
    }
    .aspect {
      border: 2px solid black;
      margin: 3px 0px;
      height: 21px;
      span.sheet_title {
        text-align: right;
        width: 180px;
        font-weight: bold;
        float:left;
        padding-right: 3px;
      }
      span.dsf {
        padding-left: 3px;
        form.jeditable_input {
          position: relative;
          top: -1px;
          height: 0px;
        }
      }
      .activator {
        position: relative;
        top: -22px;
        left: 636px;
        width: 67px;
        padding: 0px;
        padding-left: 3px;
        height: 20px;
        input {
          position: relative;
          top: 3px;
          left: -581px;
        }
      }
    }
  }
  table.skills {
    tr.skill {
      height: 30px;
      position: relative;
      top: 0px;
      left: 0px;
      span {
        display: inline-block;
      }
      .skill_holder {
        display: inline-block;
        width: 100%;
      }
      td.sheet_title {
        font-weight: bold;
        width:110px;
        text-align:right;
        padding-left:0px;
        padding-right:2px;
      }
      td.skill_holder {
        padding-left:0px;
        height: 19px;
        position: relative;
        top: -3px;
        left: 0px;
        form.jeditable_input {
          height: 0px;
          position: absolute;
          left: 3px;
          input {
            min-width: 105px !important;
            height: 16px !important;
          }
        }
      }
    }
    ul {
      display:inline;
      list-style: none;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 0px;
      li.inactive {
        border: 2px solid grey;
      }
      li.active {
        position: relative;
        top: -4px;
      }
      li {
        display:inline-block;
        border: 2px solid black;
        margin:0px 2px;
        @include width_calc('(100% - 66px)/6');
        span {
          display: inline-block;
          position: relative;
          padding-left: 2px;
          height: 19px;
          font-size: 13px;
        }
      }
    }
  }
  .stress_track.inactive {
    display: none
  }
  .stress_container {
    width: 290px;
  }
  table.stress {
    margin-bottom: 5px;
    padding-left: 5px;
    .group {
      padding: 0px;
      margin: 5px 5px;
      height: 20px;
      width: 20px;
    }
    .active {
      border: 2px solid black;
      color: black;
    }
    .inactive {
      border: 2px solid darkgrey;
      color:darkgrey;
    }
    td {
      .group {
        .sheet_label {
          width: 5px;
          font-weight: bold;
          font-size: 2em;
          position: relative;
          top: -10px;
          left: -10px;
          z-index:1;
        }
        span.dsf {
          position:relative;
          left: 4px;
          top: -11px;
        }
      }
    }
  }
  table.stunts {
    tr.inactive {
      display: none;
    }
    td {
      border-bottom: 1px solid black;
    }
    .last_row {
      td {
        border: none;
      }
    }
  }
  .hurtings {
    margin-bottom: 20px;
  }
  .consequences {
    .grey {
      margin-left: 90px;
      position:relative;
      top: -62px;
      height: 100%;
      overflow: hidden;
    }
    .inactive {
      display: none;
    }
    @include width_calc('100% - 300px');
    margin-top: 0px;

    float:right;
    .consequence {
      height: 20px;
      margin: 12px 0px;
      border: 2px solid black;
      .sheet_label {
        position: relative;
        left: -10px;
        top: -23px;
        font-size: 2em;
        font-weight: bold;
        z-index: 1;
      }
      span.sheet_title {
        display: block;
        padding-right: 3px;
        text-align: right;
        height: 20px;
        width: 85px;
        position:relative;
        left:0px;
        top: -43px;
        font-weight: bold;
      }
      span.value {
        z-index: 1;
        padding-left: 3px;
      }
      form.jeditable_input {
        position: relative;
        top: -24px;
        input {
          padding: 0px;
        }
      }
      .activator {
        position: relative;
        top: -82px;
        left: 341px;
        width: 67px;
        padding: 0px;
        padding-left: 3px;
        height: 20px;
        input {
          position: relative;
          top: 63px;
          left: -291px;
        }
      }
    }
  }
  .credits {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    font-size: 75%;
  }
  .backstory_container {
    padding-left: 4px;
  }
}

