/****************************
 * This is the CSS for the DST.
 * Copy and paste this directly into the CSS textarea on obsidianportal.com
 *****************************/
@mixin width_calc($expression) {
  width: -moz-calc(#{$expression});
  width: -webkit-calc(#{$expression});
  width: calc(#{$expression});
}
.ds_fate_core.editable {
  .activator {
    display: block;
  }
}

.hidden {
  display: none
}

.ds_fate_core {
  table {
    background: none;
    tr:nth-of-type(even) {
      background: none;
    }
  }
  .grey {
    background: rgba(50,50,50,0.25);
  }
  .game_info {
    padding-left: 5px;
    padding-top: 5px;
  }

  .activator {
    display: none;
  }
  .sheet_boundary {
    background: white;
  }
  .container {
    margin: 5px;
  }
  .hurtings {
    overflow: hidden;
    margin-bottom: 20px;
  }
  .negative_aspects {
    @include width_calc('100% - 300px');
    margin-top: 0px;
    float:right;
  }
  .credits {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    font-size: 75%;
  }
  .backstory_container {
    padding-left: 4px;
  }
}

@import 'aspects';
@import 'avatar';
@import 'basic_info';
@import 'conditions';
@import 'consequences';
@import 'header';
@import 'skills';
@import 'stress';
@import 'stunts';
@import 'text';
