/****************************
 * This is the CSS for the DST.
 * Copy and paste this directly into the CSS textarea on obsidianportal.com
 *****************************/
.ds_fate_core.editable {
  .activator {
    display: block;
  }

}
.ds_fate_core {
  form.jeditable_input {
    z-index: 1;
    input {
      z-index: 1;
    }
    button {
      z-index: 1;
      position:relative;
      width: 35px;
    }
  }

  .activator {
    display: none;
  }
  .sheet_boundary {
    width: 728px;
  }
  .container {
    margin: 5px;
  }
  .header{
    background: black;
    margin-bottom: 5px;
  }
  tr.header {
    background:none;
  }
  td.header {
    width: 100%;
  }
  td.header.left {
    float:none;
    color: white;
    background: -webkit-linear-gradient(315deg, transparent 7px, #000000 5px, #000000 100%);
    padding-left: 10px;
    font-weight: bold;
    width: 90%;
  }
  td.header.right {
    background: -webkit-linear-gradient(135deg, transparent 7px, #000000 5px, #000000 100%);
    float:none;
    width: 10%;
  }
  .header.left {
    float:none;
    color: white;
    background: -webkit-linear-gradient(315deg, transparent 7px, #000000 5px, #000000 100%);
    padding-left: 10px;
    font-weight: bold;
    width: 90%;
  }
  .header.right {
    background: -webkit-linear-gradient(135deg, transparent 7px, #000000 5px, #000000 100%);
    float:right;
    width: 10%;
  }
  .avatar {
    float: right;
    width: 257px;
    height: 257px;
    img {
      float: right;
    }
  }
  .image {
    float: right;
    width: 257px;
    height: 257px;
    background: dimgray;
    margin-bottom: 4px;
    border-radius: 3px;
    .logo {
      margin-top: 75px;
      margin-left: 15px;
    }
    img {
      margin: 10px;
    }
  }
  .basic_info {
    width: 492px;
    height: auto;
    .header.left {
      width: 346px;
    }
    .header.right {
      width: 100px;
    }
    .left_box {
      width: 363px;
      height: 231px;
    }
    .right_box {
      width: 90px;
      height: 75px;
      float: right;
    }
    .name {
      border: 2px solid black;
      height: 30px;
      background: lightgray;
      margin-bottom: 3px;
      font-size: 1.5em;
      span.title {
        background: white;
        text-align: right;
        width: 85px;
        height: 30px;
        font-weight: bold;
        float:left;
        padding-right: 3px;
      }
      span.dsf {
        padding-left: 3px;
      }
    }
    .description {
      border: 2px solid black;
      height: 190px;
      background: lightgray;
      span.title {
        background: white;
        text-align: right;
        width: 85px;
          height: 190px;
        font-weight: bold;
        float:left;
        padding-right: 3px;
      }
      span.dsf {
        padding-left: 3px;
      }
    }
    .points_box {
      border: 2px solid black;
      height: 109px;
      background: lightgray;
      margin-bottom: 5px;
      span.title {
        background: white;
        text-align: right;
        width: 83px;
        height: 21px;
        font-weight: bold;
        float:left;
        padding-right: 3px;
      }
      span.dsf {
        font-size: 6em;
        width: 76px;
        position: relative;
        left: 20px;
        bottom: 20px;
        font-weight: bold;
      }
    }
  }

  .aspects {
    width: 720px;
    .aspect {
      border: 2px solid black;
      margin: 3px 0px;
      background: lightgray;
      span.title {
        background: white;
        text-align: right;
        width: 200px;
        font-weight: bold;
        float:left;
        padding-right: 3px;
      }
      span.dsf {
        padding-left: 3px;
      }
    }
  }
  table.skills {
    width: 720px;
    tr.skill {
      height: 30px;
      span {
        display: inline-block;
      }
      .skill_holder {
        display: inline-block;
      }
      td.title {
        font-weight: bold;
        width:112px;
        text-align:right;
        padding-left:0px;
        padding-right:2px;
      }
      td.skill_holder {
        padding-left:0px;
      }
    }
    ul {
      display:inline;
      list-style: none;
      margin-left: 0px;
      margin-right: 0px;
      li.inactive {
        border: 2px solid grey;
      }
      li {
        display:inline;
        border: 2px solid black;
        margin:0px 3px;
        span {
          display: inline-block;
          width: 84px;
          padding-left: 2px;
        }
      }
    }
  }
  .stress_container {
    width: 350px;
  }
  table.stress {
    margin-bottom: 5px;
    .group {
      padding: 0px 5px;
      margin: 5px 5px;
      height: 20px;
      width: 15px;
    }
    .active {
      border: 2px solid black;
      color: black;
    }
    .inactive {
      border: 2px solid darkgrey;
      color:darkgrey;
    }
    td {
      .group {
        .label {
          width: 5px;
          font-weight: bold;
          font-size: 2em;
          position: relative;
          top: -20px;
          left: -15px;
          z-index:1;
        }
        span.dsf {
          position:relative;
          left: -3px;
          top: -38px;
        }
      }
    }
  }
  .consequences {
    width: 350px;
    margin-top: 0px;

    float:right;
    .consequence {
      height: 20px;
      margin: 12px 0px;
      border: 2px solid black;
      background: lightgray;
      .label {
        position: relative;
        left: -10px;
        top: -23px;
        font-size: 2em;
        font-weight: bold;
        z-index: 1;
      }
      span.title {
        display: block;
        padding-right: 3px;
        text-align: right;
        height: 20px;
        width: 65px;
        position:relative;
        left:0px;
        top: -43px;
        font-weight: bold;
        background: white;
      }
      span.dsf {
        position:relative;
        left: 72px;
        top: -62px;
        z-index: 1;
      }
    }
  }
  .credits {
    margin-left: auto;
    margin-right: auto;
    width:45%;
  }
}

